@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #00ff00;
  --secondary-color: #e8eaed;
  --tertiary-color: #9b4d96;
  --bg-color: #0d1a26;
}

body {
  margin: 0;
  background: var(--bg-color);
  color: var(--secondary-color);
  font-family: 'Quicksand', sans-serif;
}

header {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background: var(--bg-color);
  z-index: 10;
  gap: 1rem;
  border-bottom: 1px solid #3c4043;
}

header h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  color: var(--primary-color);
}

div input {
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  border: 1px solid var(--tertiary-color);
  background: var(--bg-color);
  font-family: inherit;
  font-size: 1.2rem;
  transition: 0.2s;
  width: 25rem;
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

div input::placeholder {
  color: var(--tertiary-color);
}

div input:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--primary-color);
}

#botao-busca {
  padding: 0.8rem 1.8rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

#botao-busca:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

main {
  max-width: 70rem;
  margin: 2rem auto;
  height: calc(100vh - 12rem);
  overflow-y: auto;
  padding: 0 1rem;
}

article {
  border-bottom: 1px solid #3c4043;
  padding: 1.2rem 0;
  transition: 0.2s;
  background-color: #2d2e30;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.3); /* Neon verde para efeito de hover */
}

article img {
  max-width: 90%;
  height: 200px;
  object-fit: contain;
  border-radius: 4px;
  margin: 0 auto 1rem;
}

article h2 {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin: 0.5rem 0;
}

article p {
  margin: 0.5rem 1rem;
  font-size: 1rem;
}

article a {
  color: var(--primary-color);
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 1rem;
}

.footer {
  width: 100%;
  background: var(--bg-color);
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #3c4043;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links a {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  div input {
    width: 90vw;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
  }

  .footer {
    display: none;
  }
}
